<!DOCTYPE html>
<html>
<head>
  <title>EcoDash Forum</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
  <script src="/scripts/jquery-2.1.4.js" type="text/javascript"></script>
  <script src="Chart.js"></script>
</head>
<body>
  <header>
      <% if logged_in? %>
        <% if request.path != "/users/#{current_user}" %>
        <div class="profile_button">
        <img src="/img/user_icon.png" width="20px">
          <a  href="/users/<%=current_user%>">Profile</a>
        <% end %>
        </div>
        <div class="home">
        <img src="/img/topics.png" width="20px">
        <a href="/topics">All topics</a>
        </div>
        <form class="log_out" method="POST" action='/users/login'>
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Log Out">
       </form>
      <% end %>
  </header>
    <div class="container">
    <%= yield %>
  </div><!--container-->

  <footer>
    <p>&copy; Muravkina 2015</p>
  </footer>
  <script src="/scripts/main.js" type="text/javascript"></script></body>
</html>
