<form method="POST" action="/topics">
  <label for="title">Title</label>
  <input type="text" name="title" id="title">
  <label for="message">Text</label>
  <textarea id="message" name="message"></textarea>
  <input type="submit" value="Post topic">
</form>
